body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    
}




header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
}

#intro {
    text-align: center;
    padding: 20px 0;
}

#intro img {
    width: 80%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
}

/* style.css */
.table-left {
    width: 50%; /* Lebar tabel */
    margin-left: auto;
    margin-right: auto;
}

.table-left td {
    padding: 20px; /* Padding untuk sel */
    border: 5px solid #ccc; /* Garis tepi untuk sel */
}


